
@media screen and (min-width:768px){
    main{
      margin: auto !important; 
     justify-content: center;
      display: grid;
      grid-template-columns: 200px 190px 190px 190px 190px;
      grid-template-rows: 100px 200px 250px 150px;
      width: 960px;    
  }
  
  
  div{
    justify-content: center;
    align-items: center;
  }
  
  #a{
    width: 960px;
    height: 100px;
    border: 1px black;
    background-color: rgb(50, 224, 6);
    color: white;
    line-height:100px ;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  #b{
    line-height: 600px ;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
    width: 200px;
    height: 600px;
    border: 1px black;
    background-color: black;
    color: rgb(12, 214, 29);
  }
  
  #c{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end:  3;
    line-height: 200px;
    width: 380px;
    height: 200px;
    border: 1px black;
    background-color: rgb(8, 221, 122);
    color: white;
  }
  
  #d{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    line-height: 200px;
    width: 380px;
    height: 200px;
    border: 1px black;
    background-color: rgb(9, 219, 184);
    color: white;
  }
  
  #e{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    line-height: 250px ;
    width: 190px;
    height: 250px;
    border: 1px black;
    background-color: rgb(8, 212, 212);
    color: white;
  }
  
  #f{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    line-height: 250px ;
    width: 190px;
    height: 250px;
    border: 1px black;
    background-color: rgb(8, 79, 211);
    color: white;
  }
  
  #g{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    line-height: 250px ;
    width: 190px;
    height: 250px;
    border: 1px black;
    background-color: rgb(6, 98, 190);
    color: white;
  }
  
  #h{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
   line-height: 250px ;
    width: 190px;
    height: 250px;
    border: 1px black;
    background-color: rgb(9, 54, 177);
    color: white;
  }
  
  #i{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    line-height: 150px;
    width: 760px;
    height: 150px;
    border: 1px black;
    background-color: rgb(5, 33, 190);
    color: white;
  }
  
  @media screen and (min-width:1024px){
    main{
      margin: auto; 
      justify-content: center;
       display: grid;
       grid-template-columns: 200px 190px 190px 190px 190px;
       grid-template-rows: 100px 200px 250px 150px;
       width: 1024px;    
   }
   
   div{
     justify-content: center;
     align-items: center;
   }
   
   #a{
     line-height: 100px;
     grid-column-start: 1;
     grid-column-end: 6;
     grid-row-start: 1;
     grid-row-end: 1;
     width: 960px;
     height: 100px;
     border: 1px black;
     background-color: rgb(16, 4, 185);
     color: blue
   }
   
   #b{
     line-height: 600px ;
     grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 2;
     grid-row-end: 5;
     width: 200px;
     height: 600px;
     border: 1px black;
     background-color: rgb(59, 4, 131);
     color: rgb(100, 69, 69);
   }
   
   #c{
     grid-column-start: 2;
     grid-column-end: 4;
     grid-row-start: 2;
     grid-row-end:  3;
     line-height: 200px;
     width: 380px;
     height: 200px;
     border: 1px black;
     background-color: rgb(149, 6, 245);
     color: white;
   }
   
   #d{
     grid-column-start: 4;
     grid-column-end: 6;
     grid-row-start: 2;
     grid-row-end: 3;
     line-height: 200px;
     width: 380px;
     height: 200px;
     border: 1px black;
     background-color: rgb(128, 6, 221);
     color: white;
   }
   
   #e{
     grid-column-start: 2;
     grid-column-end: 3;
     grid-row-start: 3;
     grid-row-end: 4;
     line-height: 250px ;
     width: 190px;
     height: 250px;
     border: 1px black;
     background-color: rgb(231, 5, 231);
     color: white;
   }
   
   #f{
     grid-column-start: 3;
     grid-column-end: 4;
     grid-row-start: 3;
     grid-row-end: 4;
     line-height: 250px ;
     width: 190px;
     height: 250px;
     border: 1px black;
     background-color: rgb(125, 7, 129);
     color: white;
   }
   
   
   #g{
     grid-column-start: 4;
     grid-column-end: 5;
     grid-row-start: 3;
     grid-row-end: 4;
     line-height: 250px ;
     width: 190px;
     height: 250px;
     border: 1px black;
     background-color: rgb(161, 7, 92);
     color: white;
   }
   
   #h{
     grid-column-start: 5;
     grid-column-end: 6;
     grid-row-start: 3;
     grid-row-end: 4;
    line-height: 250px ;
     width: 190px;
     height: 250px;
     border: 1px black;
     background-color: rgb(136, 7, 35);
     color: white;
   }
   
   #i{
     grid-column-start: 2;
     grid-column-end: 6;
     grid-row-start: 4;
     grid-row-end: 5;
     line-height: 150px;
     width: 760px;
     height: 150px;
     border: 1px black;
     background-color: rgb(134, 4, 4);
     color: white;
   }